/ Google Tag Manager (noscript)
- if ENV['GTM_CONTAINER_ID'].present?
  noscript
    iframe src="https://www.googletagmanager.com/ns.html?id=#{ENV['GTM_CONTAINER_ID']}" height="0" width="0" style="display:none;visibility:hidden"
